{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Post detail</h1>
    </div>

    <div>
        <p>
        <blockquote>{{ post.title }}</blockquote>
        </p>
        <article>
            {{ post.text }}
        </article>
        <p>
            <em>
                {% if post.publishedAt %}{{ post.publishedAt|date('Y-m-d H:i:s') }}{% endif %}
            </em>
        </p>
    </div>


    <div>
        <a href="{{ path('post_index') }}" class="btn btn-default">Back to the list</a>
        <a href="{{ path('post_edit', { 'id': post.id }) }}" class="btn btn-info">Edit</a>
        {{ form_start(delete_form, { 'attr': { 'style': 'display:inline;' }} ) }}
        {{ form_widget(delete_form.delete, {'attr': { 'class': 'btn btn-danger', 'style': 'padding:auto;' } } ) }}
        {{ form_end(delete_form) }}
    </div>

{% endblock %}